@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
    --defMargin: 10px;
}



.sidebar {
    background-image: url('assets/bgimg.jpg');
    background-position: center;
    background-size: 1300px 1300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 40%;
}

.sidebar .header {
    font-family: 'Righteous', cursive;
    background-color: rgba(240, 248, 255, 0.089);
    color: aliceblue;
    text-align: center;
    font-size: 64px;
    padding: 15px 0px 15px 0px;
    position: relative;
    bottom: 70vh;
}

.sidebar .footer {
    color: aliceblue;
    text-align: center;
}

a {
    text-decoration: none;
    color: #3f6b70;
}

.containerMain {
    max-width: 500px 55%;
    background-color: #5e827c;

}

.hero {
width: 500px;
margin: 200px 50px 50px 0px;
padding-left: 5%;
}
form {
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.397);
    margin-top: 50px;
    padding-left: 5%;
    margin-bottom: var(--defMargin);
}

form p {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    color: rgba(0, 0, 0, 0.781);
    font-size: 13px;
    
}

form div {
    display: flex;

}
#createAccountBtn {
    background-color: #3f6b70;
    color: white;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 55px;
    font-size: 20px;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: var(--defMargin);
}
.login {
    padding-left: 5%;
    margin-top: var(--defMargin);
}

input {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.548);
    font-size: 18px;
}
